/* 
    custom.module.css
    ~~~~~~~~~~~~~~~~~~

    Just some custom classes whenever I dont want to mix it with the global css
*/

/* Button Group for Close and minimize buttons in the application. */
.ButtonGroup {
    box-sizing: border-box;
    padding:5px;
}

.ButtonGroup svg {
    transition: 0.5s;
}

.ButtonGroup:hover svg {
    opacity: 0.5;
}

/* AppList.js Full border for the AppDetailChip */
.AppList_full_border_white {
    border: 1px solid rgba(226,239,255,0.5);    
}

/* AppList.js left side chip for the AppDetailChip*/
.AppList_left_side_chip {    
    width: 3px;
    height: 70%;
    border-radius: 20px;
    background-color : #e2efff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;
}

/* AppList.js right side close button for the AppDetailChip */

.AppList_right_side_close svg {
    transition: 0.5s;
    opacity: 0.1;
}

.AppList_right_side_close:hover svg {
    opacity: 0.5;
}

.AppList_right_side_close {
    border: 1px solid rgba(226,239,255,0.5);
    border-bottom: none;
    width: 40px;
    height: 30px;
    resize: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 5px;
    transition: 0.5s;
    opacity: 0;
}

.AppList_right_side_close_active {
    opacity: 1;
    transform: translateY(calc(-30px));
}